.nav-checkbox {
    display: none;

}

.nav-label {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 4rem;
    z-index: 2000;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(black, .1);
    text-align: center;
    cursor: pointer;

}

.nav-bg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    background-image: radial-gradient(rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
    z-index: 500;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);


    //transform: scale(80);

}

.nav-page {
    //width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all .8s;

}

.nav-item {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    list-style-type: none;
    transform: translate(-50%, -50%);


}

.nav-list {
    margin: 1rem;

}

.nav-link {
    &:link,
    &:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 250%;
    transition: all .4s;
    }

    &:hover,
    &:active {
        background-position: 100%;
        color: $color-primary-light;
        transform: translateX(1rem);
    }

    span {
        display: inline-block;
        margin-right: 1.5rem;
    }
    
}

.nav-checkbox:checked ~ .nav-bg {
    transform: scale(200);
}

.nav-checkbox:checked ~ .nav-page {
    opacity: 1;
    width: 100%;
}

.nav-icon {
    position: relative;
    margin-top: 2rem;
    &,
    &::before,
    &::after {
        width: 2rem;
        height: 2px;
        display: inline-block;
        background-color: #333;
        transition: all .2s;
    }

    &::before,
    &::after {
        content: "";
    }

    &::before {
        position: absolute;
        left: 0;
        top: -0.5rem;


    }

    &::after {
        position: absolute;
        left: 0;
        top: 0.5rem;
}
}

.nav-label:hover .nav-icon::before {
    top: -0.7rem;
}

.nav-label:hover .nav-icon::after {
    top: 0.7rem;
}

.nav-checkbox:checked + .nav-label .nav-icon {
    background-color: transparent;
}

.nav-checkbox:checked + .nav-label .nav-icon::before {
    top: 0;
    transform: rotate(135deg);
}

.nav-checkbox:checked + .nav-label .nav-icon::after {
    top: 0;
    transform: rotate(-135deg);
}